@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Dancing+Script:wght@700&family=Kalam:wght@700&family=Ultra&display=swap');
* {
	margin: 0;
	padding: 0;
	font-family: IRANSans;
	/*user-select: #86ba09; supported by Chrome and Opera */
}
a{
	text-decoration: none !important;
}
i {
	margin-right: 10px;
}
input{
	font-size: 19px !important;
}
input::placeholder{
	color: #6C757D;
	font-size: 14px;
}
small::selection{
	background-color: #FFA726 !important;
	color: white !important;
}
a::selection{
	background-color: #86ba09 !important;
	color: white !important;
}
p::selection{
	background-color: #86ba09 !important;
	color: white !important;
}
strong::selection{
	background-color: #86ba09 !important;
	color: white !important;
}
h6::selection{
	background-color: #86ba09 !important;
	color: white !important;
}
h5::selection{
	background-color: #86ba09 !important;
	color: white !important;
}
h4::selection{
	background-color: #86ba09 !important;
	color: white !important;
}
h3::selection{
	background-color: #86ba09 !important;
	color: white !important;
}
h2::selection{
	background-color: #86ba09 !important;
	color: white !important;
}
h1::selection{
	background-color: #86ba09 !important;
	color: white !important;
}
footer p::selection{
	background-color: #03A9F4 !important;
	color: white !important;
}
footer a::selection{
	background-color: #03A9F4 !important;
	color: white !important;
}
footer h5::selection{
	background-color: #03A9F4 !important;
	color: white !important;
}
/*/////////////////////////////////////////////////////////
				start style page index
*//*/////////////////////////////////////////////////////////*/


/*/////////////// start style menu ///////////////*/

/********************* header top *******/
.button-bu {
    font-size: 12px;
    line-height: 1;
    font-weight: 400;
    padding: 15px !important;
    border-radius: 5px 20px 5px !important;
		background-color: transparent !important;
		border: 1px solid #BDBDBD !important;
}

.toast {
    transition: 0.32s all ease-in-out
}

.toast-container--fade {
    right: 0;
    bottom: 0
}



.button-bu a::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 22%;
    height: 100%;
    background-color: #F6F7F7;
    border-radius: 15px 6px 6px 15px;
    transition: all ease 0.3s;
    z-index: -1;
    color: #fff;
}
.button-bu a:last-child::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: #F6F7F7;
    border-radius: 15px 6px 6px 15px;
    transition: all ease 0.3s;
    z-index: -1;
    color: #fff;
}










@media screen and (max-width: 1200px) and (min-width: 992px){
	.button-bu{
		margin: 5px;
	}
}
@media screen and (max-width: 991px) and (min-width: 576px){
	.button-bu{
		margin: 5px !important;
		padding: 50px -5px !important;
		justify-content: center !important;
		font-size: 15px !important;
	}
}
@media screen and (max-width: 575px) and (min-width: 320px){
	.button-bu{
		margin: 10px !important;
	}
}

/********************* header top *******/


/*----------navbar-main ------------*/
.navbar-logo{
	font-family: 'Concert One', cursive;
	font-family: 'Dancing Script', cursive;
	font-family: 'Kalam', cursive;
	font-family: 'Ultra', serif;
	padding: 15px;
	color: white;
}
.navbar-mainbg{
	background-color: #5161ce;
	padding: 0px;
	margin: 0px;
}

#navbarSupportedContent{
	overflow: hidden;
	position: relative;
}
#navbarSupportedContent ul{
	padding: 0px;
	margin: 0px;
}
#navbarSupportedContent ul li a i{
	margin-right: 10px;
}
#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}
#navbarSupportedContent ul li a{
	color: rgba(255,255,255,0.5);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent>ul>li.active>a{
	color: #5161ce;
	background-color: transparent;
	transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}
#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.hori-selector{
	display: inline-block;
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	transition-duration: 0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #fff;
	border-radius: 30px;
	margin-bottom: 10px;
}
.hori-selector .right,
.hori-selector .left{
	display: none;
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #fff;
	bottom: 10px;
}
.hori-selector .right{
	right: -25px;
}
.hori-selector .left{
	left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before{
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #5161ce;
}
.hori-selector .right:before{
	bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
	bottom: 0;
    left: -25px;
}
@media(min-width: 992px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
}
.navbar-expand-custom .navbar-nav {
	-ms-flex-direction: row;
	flex-direction: row;
}
.navbar-expand-custom .navbar-toggler {
	display: none;
}
.navbar-expand-custom .navbar-collapse {
	display: -ms-flexbox!important;
	display: flex!important;
	-ms-flex-preferred-size: auto;
	flex-basis: auto;
	}
}
@media (max-width: 991px){
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}
}






/*/////////////// end style menu ///////////////*/


/*/////////////// start style carousel ///////////////*/
.home .carousel-item{
	min-height: 100vh;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 1;
}
.home .carousel-item:before{
	content: '';
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: -1;
}
.home .carousel-item .container{
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.home .carousel-item h2{
	font-size: 70px;
	color: #ffffff;
	margin:0 0 10px;
	opacity: 0;
}
.home .carousel-item p{
	font-size: 20px;
	margin:0;
	color: #eeeeee;
	opacity:0;
}
.home .carousel-item.active h2{
	animation: fadeInLeft 0.5s ease forwards;
}
.home .carousel-item.active p{
	animation: fadeInLeft 0.5s ease forwards;
}
.home .carousel-item.active button{
	animation: fadeInRight 0.5s ease forwards;
	border-radius: 50px;
	background-color: #86ba09;
	padding: 20px 60px;
}
.home .carousel-item.active button:hover{
	background-color: #ffffff;
	color: green;
}
.home .carousel-item.active p{
	animation: fadeInRight 0.5s ease forwards;
}

@keyframes fadeInLeft{
	0%{
		opacity: 0;
		transform: translateX(-30px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}
@keyframes fadeInRight{
	0%{
		opacity: 0;
		transform: translateX(30px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}

.home .carousel-controls{
	position: absolute;
	left: 50%;
	bottom: 40px;
	z-index: 10;
	transform: translateX(-50%);
}

.home .carousel-indicators{
	position: relative;
	margin:0;
}

.home .carousel-indicators li{
	height: 70px;
	width: 70px;
	margin:0 5px;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
	border:3px solid transparent;
	transition: all 0.3s ease;
}
.home .carousel-indicators li.active{
	border-color: #ffffff;
	transform: scale(1.2);
}

.home .carousel-control-next,
.home .carousel-control-prev{
	height: 60px;
	width: 60px;
	opacity: 1;
	z-index: 3;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
	transition: all 0.3s ease;
}
.home .carousel-control-next:hover,
.home .carousel-control-prev:hover{
   box-shadow: 0 0 10px #ffffff;
}
.home .carousel-control-next img,
.home .carousel-control-prev img{
   width: 30px;
}
.home .carousel-control-next{
	right: -90px;
}
.home .carousel-control-prev{
	left: -90px;
}

/*for responsive carousel*/
@media(max-width: 767px){
  .home .carousel-control-next,
  .home .carousel-control-prev{
  	display: none;
  }
  .home .carousel-indicators li{
  	height: 60px;
  	width: 60px;
  }
  .home .carousel-item h2{
  	font-size: 45px;
  }
  .home .carousel-item p{
  	font-size: 22px;
  }
}
/*/////////////// end style carousel ///////////////*/
/*///////////////
transition: transform 1s, filter 2s ease-in-out;
	filter: blur(2px);
	transform: scale(0.9);
///////////////*/

/*/////////////// start style box Discount ///////////////*/
/*///////////////
filter: blur(0);
  	transform: scale(1);
///////////////*/
.card .card-img {
	overflow: hidden;
}
.card .card-img img {
	width: 100%;
    transition: 0.5s all ease-in-out;
}
.card .card-img:hover  img {
	transform: scale(1.2);
	transition: all 1.5s ease;
}

@media (min-width: 567px) and (max-width: 768px){
	main .size-media-1{
		margin-right: 150px;
		padding-top: 0px !important;
	}
}

/*/////////////// end  style box Discount ///////////////*/



/*/////////////// start style end Multiple Items Carousel slide ///////////////*/
.faeture a{
	background-color: transparent !important;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 20px;
	border-radius: 0px !important;
	margin: 8px;
	outline:none !important;

}
.faeture a:hover{
	letter-spacing: 5px;
	transition: all ease  0.3s;

}


.card-img-custom {
	position: relative;
}
.card-img-custom .overlay-img-card {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: #fff;
}
.card-img-custom .overlay-img-card .top small {
	background-color: #003d60;
	border-radius: 5px;
	font-weight: 300;
}
.card-img-custom .overlay-img-card .bottom a {
	font-size: 13px;
	color: #fff;
	opacity: 0.5;
}
.card-img-custom .overlay-img-card .bottom a:hover {
	opacity: 1;
}

.overlay4{
	position: absolute;
	left: 0;
	width: 100%;
	top: 40%;
	opacity: 0;
	height: 100%;
	visibility: hidden;
	transition: 0.3s;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99;
}
.overlay4 a{
	transition: 0.3s;
	opacity: 0;
	visibility: visible;
	border-radius: 15px !important;
	font-size: 22px !important;
	color: #86ba09 !important;
	background: #fff;
	font-weight: 300;
	transform: scale(0);
	transition-delay: 0.1s;
	border: 1px solid #2980b9;
}
.hover-card .overlay4 a:hover{
	color: #fff !important;
	border: 1px solid #2980b9;
}
.hover-card:hover .overlay4{
	opacity: 1;
	visibility: visible;
}
.hover-card:hover .overlay4 a{
	color: #fff;
	transform: scale(1);
	opacity: 1;
	visibility: visible;
}
.card{
	background-color: transparent;
	border-radius: 20px;
}
@media (min-width: 320px) and (max-width: 576px){
	main .size-media{
		width: 400px;
	}
}
/*/////////////// end style end Multiple Items Carousel slide ///////////////*/



/*/////////////// start style end Multiple Items Carousel two slide ///////////////*/
/*
.card .iconimg{
	display: flex;
	position: absolute;
    background-color: transparent;
    top: 250px;
    left: 40%;
    width: 66px;
    height: 66px;
}
*/
.hover {
	overflow: hidden;
	position: relative;
	padding-bottom: 60%;
}
.hover-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	transition: all 0.4s;
}
.hover img {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.3s;
}
.hover-content {
	position: relative;
	z-index: 99;
}

.hover-5::after {
	content: '';
	width: 100%;
	height: 10px;
	background: #47c650;
	position: absolute;
	bottom: -10px;
	left: 0;
	display: block;
	transition: all 0.3s;
	z-index: 999;
}
.hover-5 .hover-overlay {
	background: rgba(0, 0, 0, 0.4);
}

.hover-5-title {
	position: absolute;
	bottom: 1rem;
	left: 0;
	transition: all 0.3s;
	padding: 2rem 3rem;
	z-index: 99;
}
.hover-5-title span {
	transition: all 0.4s;
	opacity: 0;
	color: #47c650;
}

.hover-5:hover .hover-overlay {
	background: rgba(0, 0, 0, 0.8);
}
.hover-5:hover .hover-5-title {
	bottom: 0;
}
.hover-5:hover .hover-5-title span {
	opacity: 1;
}
.hover-5:hover::after {
	bottom: 0;
}
@media (min-width: 576px) and (max-width: 768px) {
	.media-card1{
		margin-right: 150px;
	}
}
/*/////////////// end style end Multiple Items Carousel  two slide ///////////////*/


/*/////////////// start style Blog Carousel slide ///////////////*/
.card-body .card-title a{
    font-size: 16px;
    font-weight: 600;
	color: #121212;
    line-height: 24px;
}
.author small{
    color: #86ba09;
    font-size: 14px;
    position: relative;
    display: inline-block;
}
.card-body p{
    margin: 15px 0 20px;
    line-height: 24px;
    color: #666666;
	font-size: 14px;
}
/* for responsive */
@media (min-width: 320px) and (max-width: 450px){
	main .carousel_slide .main-carousel .cell .card{
		width: 15rem !important;
	}
}
/* for responsive */

/*/////////////// end style Blog Carousel slide ///////////////*/



/*/////////////// start style scrole bar ///////////////*/
::-webkit-scrollbar{
	width: 10px;
}
::-webkit-scrollbar-track{
	background: #CECEFE;
	border-radius: 50px;
}
::-webkit-scrollbar-thumb{
	background: #3F51B5;
	border-radius: 50px;
}
/*/////////////// end style scrole bar ///////////////*/

/*/////////////////////////////////////////////////////////
				end style page index
*//*/////////////////////////////////////////////////////////*/



/*/////////////////////////////////////////////////////////
				START style page ABOUT
*//*/////////////////////////////////////////////////////////*/

/*//// start responsive for banner ///*/
@media (min-width: 320px) and (max-width: 768px){
	.carousel-custom{
		display: none;
	}
}
/*//// end responsive for banner ///*/

/*/////////////// START ABOUT US ///////////////*/
.container .card-horizontal .card-title{
	color: #121212;
	font-size: 32px;
	font-weight: 500;
	position: relative;

}
.container .card-horizontal .hover_img{
	overflow: hidden;
}
.container .card-horizontal .hover_img img{
    transition: 0.5s all ease-in-out;
}
.container .card-horizontal .hover_img:hover img{
	transform: scale(1.3);
}
/*/////////////// END ABOUT US ///////////////*/


/*/////////////// START Our services ///////////////*/
.our-ser .container .card {
    max-width: 300px;
    height: 215px;
    margin: 30px 10px;
    padding: 20px 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out
}

.our-ser .container .card:hover {
    height: 450px
}
.our-ser .card h4{
	font-weight: bold;
	font-size: 22px;
}
.our-ser .card p{
	line-height: 190%;
}


.our-ser .container .card .imgContainer {
    position: relative;
    width: 250px;
    top: -50px;
    left: 10px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.our-ser .container .card .imgContainer img {
    max-width: 100%;
    border-radius: 4px;
	background-color: transparent;
}

.our-ser .container .card .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out;
}

.our-ser .container .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

@media (max-width: 330px) {
    .our-ser .container .card .imgContainer {
        left: -2px;
    }
}
/*/////////////// END ABOUT US ///////////////*/

/*////////////// start help us ////////////////*/
.help-us .cards .line1 {
    color: #000;
    font-size: 12px;
}
.help-us .cards {
    transition: all 0.2s ease;
    cursor: pointer;
	border-left: 1px solid rgb(145, 127, 127);
}
.help-us .cards:hover {
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.1);
}
.help-us .cards h5{
	font-size: 20px;
	font-weight: bold;
}
.help-us .cards .first p{
	font-size: 13.5px;
	line-height: 200%;
}
/*////////////// end help us ////////////////*/

/*/////////////// STRAT box meet our team ///////////////*/
.card-info  .container{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	min-height: 30vh;
}
.card-info  .container .cards{
	position: relative;
	width: 300px;
	height: 400px;
	background: linear-gradient(#2196f3, #2196f3 30%,
	#1d3548 30%, #1d3548);
	margin: 10px;
	border-radius: 20px;
	overflow: hidden;
}
.card-info  .container .cards .imgbx{
	position: absolute;
	top: 0;
	Left: 0;
	width: 100%;
	height: 100%;
	transition: 0.5s;
	z-index: 100000;
	border-radius: 20px;
	overflow: hidden;
	transform-origin: top;
}
.card-info  .container .cards:hover .imgbx{
	transform: translateY(10px) scale(0.5);
}
.card-info  .container .cards .imgbx img {
	position: absolute;
	top: 0;
	Left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card-info  .container .cards .content {
	position: absolute;
	top: 0;
	Left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 10px;
	transform: translateY(100%);
	transition: 0.5s;
}
.card-info  .container .cards:hover .content{
	transform: translateY(0%);
}


.card-info  .container .cards .content .details{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}
.card-info  .container .cards .content .details h2{
	color: #fff;
	font-size: 1.3em;
	font-weight: 500;
}
.card-info  .container .cards .content .details h2 span{
	font-size: 0.8em;
	font-weight: 400;
	color: #03a9f4;
}
.card-info  .container .cards .content .details .social-icons{
	position: relative;
	display: flex;
	margin-top: 5px;
}
.card-info  .container .cards .content .details .social-icons li{
	List-style: none;
	margin: 4px;
}
.card-info  .container .cards .content .details .social-icons li a{
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #294d69;
	border-radius: 50%;
	font-size: 1.5em;
	color: #fff;
	text-decoration: none;
	transition: 0.5s;
}
.card-info  .container .cards .content .details .social-icons li a:hover{
	transform: rotate(360deg);
	background: #86ba09;
}
/*/////////////// END box meet our team ///////////////*/


/*/////////////////////////////////////////////////////////
				END style page ABOUT
*//*/////////////////////////////////////////////////////////*/



/*/////////////////////////////////////////////////////////
				START style page Blog
*//*/////////////////////////////////////////////////////////*/

li.slick-active button {
	transition: all ease 0.3s;
	background-color: #0c1946 !important;
}

.overlay4 {
	position: absolute;
	left: 0;
	width: 100%;
	top: 0;
	background: rgba(0, 0, 0, 0.7);
	opacity: 0;
	height: 100%;
	visibility: hidden;
	transition: 0.3s;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99;
}
.overlay4 a {
	transition: 0.3s;
	opacity: 0;
	visibility: visible;
	border-radius: 15px;
	font-size: 13px;
	color: #fff !important;
	background: #2980b9;
	font-weight: 300;
	transform: scale(0);
	transition-delay: 0.1s;
	border: 1px solid #2980b9;
}
.hover-card .overlay4 a:hover {
	color: #2980b9 !important;
	background: #fff;
	border: 1px solid #2980b9;
}

.hover-card:hover .overlay4 {
	opacity: 1;
	visibility: visible;
}
.hover-card:hover .overlay4 a {
	color: #fff;
	transform: scale(1);
	opacity: 1;
	visibility: visible;
}
.partners .card {
	transition: 0.3s;
	border-radius: 10px;
}
.partners .card:hover {
	background: #f6f6f6;
}





.search input{
	border: 1px solid #eee !important;
	width: 80%;
}
/*
.search input:focus {
    box-shadow: 10px 10px #757575;
}
*/
.search a{
	background-color: #ff5a60 !important;
	color: #fff !important;
	border: 1px solid #ff5a60;
	font-weight: 300;
	outline: none;
}
.search a:hover{
	transform: 0.3s;
	background-color: #fff !important;
	color: #ff5a60 !important;
}
.search input::placeholder{
	font-size: 13px;
	font-weight: 300;
}
.search-2{
	position: relative;
}
.search-2 a{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;

}
.category-p a{
	transition: 0.3s;
	font-size: 14px;
}
.category-p a:hover{
	color: #ff5a60 !important;
	margin-right: 8px;
}
.category-p small:hover{
	color: #ff5a60 !important;
	margin-right: 8px;
}
.card .card-body .card-title{
	font-size: 18px;
	font-weight: 700;
}
.card .card-body .card-small{
	line-height: 200%;
}
.qu {
	border-radius: 15px;
	border-right: 4px solid #ff5a60 !important;
	border-left: 4px solid #ff5a60 !important;
}
.right-arrow p{
	color: #8493a2;
	transition: 0.2s;
}
.right-arrow p:hover {
	color: #F9474D;
}
.fa-star {
      color: #f8c31d;
      cursor: pointer;
}
.rounde-2{
	border-radius: 15px;
}
@media (min-width: 768px) {
	.review img {
		width: 9rem !important;
		border-radius: 5px;
	}
}
.review .hover-zoom img{
	width: 320px !important;
}
.review .hover-zoom img{
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	border-radius: 20px !important;
	transition: transform 0.5s, filter 1s ease-in-out;
  	filter: blur(2px);
  	transform: scale(0.9);
}
.review .hover-zoom img:hover{
	filter: blur(0);
  	transform: scale(1);
}
.review2 input {
	border: 1px solid #eee;
}
.review2 input::placeholder {
	font-size: 13px;
	font-weight: 300;
}
.review2 textarea::placeholder {
	font-size: 13px;
	font-weight: 300;
}
.review2 a{
	background: #ff5a60 !important;
	color: #fff !important;
	font-size: 15px;
}
.op-font option {
	font-size: 14px;
	font-weight: 300;
}
.op-font select {
	border: 1px solid #eee;
	font-size: 14px;
}
.hover-man .overlay2{
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
}
.hover-man:hover .overlay2{
	opacity: 1;
	visibility: visible;
}
.listing img {
	width: 20em;
	border-radius: 10px;
}
.listing {
	border-radius: 10px;
	transition:0.3s;
}
.listing:hover {
	background: #f6f6f6;
}
.overlay-category:hover {
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.2)!important;
	background: 0 0 !important;
}
.overlay-category .overlay2 a{
	background:rgba(0, 0, 0, 0.3);
}
.overlay-category .overlay2 a:hover{
	background: #292929;
}
.paging .nav-item a{
	transition: 0.3s;
}
.paging .nav-item a:hover,
.paging .nav-item a:hover i {
	background-color: #ff5a60 !important;
	color: #fff !important;
}

main .card-info .card .card-footer a{
	color: #fff !important;
}

@media (min-width: 320px) and (max-width: 768px){
	main .card-info .card .card-footer a{
		font-size: 13px;
		margin-left: 15px;
	}
}
@media (min-width: 1440px){
	main .card-info .card .card-body small{
		font-size: 17px;
	}
	main .card-info .card .card-body a{
		font-size: 23px;
	}
}
/*/////////////////////////////////////////////////////////
				end style page BLOG
*//*/////////////////////////////////////////////////////////*/





/*/////////////////////////////////////////////////////////
				start style page CONTACT US
*//*/////////////////////////////////////////////////////////*/
.card .card-body .size-custom i {
	font-size: 20px;
}
.card .card-body .size-custom a{
	font-size: 14px;
}


.send-form input,textarea{
	border: 1px solid #eee !important;
}
.send-form input::placeholder{
	font-size: 13px;
	font-weight: 300;
}
.send a {
    background: #ff5a60 !important;
    color: #fff !important;
    font-size: 15px;
}
/*/////////////////////////////////////////////////////////
				end style page CONTACT US
*//*/////////////////////////////////////////////////////////*/



/*/////////////////////////////////////////////////////////
				start style page shop
*//*/////////////////////////////////////////////////////////*/


/*///////// start style slidebar left //////////*/
.card-body .search .sidebar li a{
	background: none !important;
	border: 0;
	color: #000 !important;
}
.card-body .search .bg-item a{
	background: none !important;
	border: 0;
	color: #000 !important;
}
.card-body .search .sidebar .has-submenu .submenu{
	font-size: 14px;
	color: white !important;
}
.card-body .search .sidebar .has-submenu .submenu li a:hover{
	color: #86ba09 !important;
}
.card-body .search .sidebar li i{
	font-size: 10px;
}
.card-body .search .bg-item a i{
	font-size: 10px;
}



/*///////// end style slidebar left //////////*/
/*/////////////////////////////////////////////////////////
				end style page shop
*//*/////////////////////////////////////////////////////////*/



/*/////////////////////////////////////////////////////////
				start style page buy product
*//*/////////////////////////////////////////////////////////*/

/*/////////////////////// start card buy prodcut///////////////////////////////////*/
.product {
    border-radius: 15px !important;
    box-shadow: 0 0 2rem #6a728727;
}
.side-icon li a {
    background-color: #e7edfa;
    display: inline-block;
    transition: 0.3s;
    font-size: 20px;
    border-radius: 50%;
    color: #7b7da3;
    padding: 5px 11px !important;
}
.side-icon li a:hover {
    background-color: #7b7da3;
    color: #fff;
}
.changer li {
    border-radius: 15px !important;
    box-shadow: 0 0 2rem #6a728721 !important;
}
.line1 a,.line1 strong {
    font-weight: 500 !important;
}
.line2 strong {
    font-weight: 600;
    font-size: 16px;
}
.line2 small {
    font-weight: 400;
    font-size: 15px;
}
.price-all {
    color: #7b7da3;
}
.price-all a {
    background-color: #5dc9ff;
    color: #fff !important;
    border-radius: 10px !important;
    position: relative;
    z-index: 1;
}
.hvr-shutter-out-horizontal {
    border-radius: 10px !important;
}
.hvr-shutter-out-horizontal:hover {
    border-radius: 10px !important;
}
.info-product {
    border-radius: 15px !important;
    box-shadow: 0 0 2rem #595b762f;
}
.filter-product li a {
    color: #595b76;
    font-size: 15px;
    transition: 0.3s;
    border-bottom: 1px solid transparent;
}
.filter-product li a.active {
    color: #5bbeff;
    border-bottom: 1px solid #5bbeff;
}
#tabone,#tabthree small {
color: #595b76;
}
#tabone table {
font-size: 16px;
border-spacing: 15px !important;
border-collapse: separate;
}
#tabthree p {
    font-size: 15px;
    color: #595b76;
    line-height: 2.2 !important;
}
.link-dl {
    border-radius: 15px !important;
    position: relative;
}
.link-dl .input-group input{
	border-radius: 15px;
}
.link-dl input {
    box-shadow: none;
}
.link-dl input,.link-dl .input-group-text {
    border-radius: 10px;
    border: 1px solid #eee;
	font-size: 12px;
}
.link-dl button {
    left: 0;
    top: 0;
    bottom: 0;
    background: 0 0;
    z-index: 10;
    font-weight: 800;
    font-size: 16px;
    color: #5bbeff;
}

.form-comment p {
    font-size: 17px;
    font-weight: 800;
}
.form-comment button {
    color: #fff;
    background-color: #5BBEFF;
    border-radius: 15px !important;
    transition: 0.3s;
    font-weight: 400;
    font-size: 16px;
    width: 25%;
}
.form-comment button:hover  {
    color: #5bbeff;
    background-color: #fff;
    border: 1px solid #5bbeff;
}

.size .input-group-text, .size input {
    border-radius: 8px !important;
    border: 1px solid #e4edfa;
    box-shadow: none;
}
.size .input-group-text small {
    color: #9ea4c4 !important;
}
/*/////////////////////// end card buy prodcut///////////////////////////////////*/

/*/////////////////////////////////////////////////////////
				end style page buy product
*//*/////////////////////////////////////////////////////////*/


/*/////////////////////////////////////////////////////////
				start style page chart
*//*/////////////////////////////////////////////////////////*/
.card .card-body .price1 strong{
	color: #86ba09;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
}


.card .card-body .price1 a{
	display: inline-block;
    color: #f7525a;
    font-size: 1rem;
    font-weight: 400;
}
.card .card-body .price1 del{
	text-decoration: line-through;
    font-weight: 300;
    font-size: 17px;
}
.card .card-body .icon-trash{
	font-size: 20px;
	float: left;
}

.card .card-body .search a{
	background: none !important;
	border: none !important;
	color: #000 !important;
}
.card .card-body .search button{
	background-color: #86ba09;
	border: none !important;
}

.edamekharid {
    background-color: #5BBEFF !important;
    color: #fff !important;
    border-radius: 10px !important;
    float: left;
    padding: 3px 25px !important;
}
.edamekharid1 {
    background-color: #18C56E !important;
    color: #fff !important;
    border-radius: 10px !important;
    float: left;
    padding: 3px 25px !important;
}

/*/////////////////////////////////////////////////////////
				end style page chart
*//*/////////////////////////////////////////////////////////*/


/*/////////////////////////////////////////////////////////
				start style page my_panel
*//*/////////////////////////////////////////////////////////*/
.profile, .profile-side {
    border-radius: 15px !important;
    box-shadow: 0 0 2rem #595b762f;
}
.profile .card-footer {
    border-radius: 15px !important;
    background-color:rgba(83, 96, 157, 4%) !important;
}
.profile .card-footer a {
    color: #666666;
    font-weight: 600;
    font-size: 14px;
}
.profile-side .card-header p {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    background-color: rgba(83, 96, 157, 80%);
    border-radius: 0 0 15px 15px !important;
}
.profile-side ul li a {
    font-size: 12px;
    color:#666666 ;
    transition: 0.3s;
}
.profile-side ul li a.active {
    background-color: rgba(83, 96, 157, 15%);
}
.info-user p:nth-child(1) {
    font-size: 13px;
    font-weight: 300;
    color: #666666;
}
.info-user p:nth-child(2) {
    font-size: 12px;
    font-weight: 700;
    color: #666666;
}
.info-user-footer a {
    color: #9ea4c4;
    font-size: 13px;
}
.info-user-footer {
    background-color:rgba(83, 96, 157, 4%) !important;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0 0 15px 15px !important;

}
.info-user-footer:hover {
    background-color: #7b7da3 !important;
}
.info-user-footer:hover a {
    color: #fff;
}
.sefareshat .card-header p {
    color: #fff;
    border-radius: 0 0 15px 15px !important;
    display: inline-block;
    font-size: 12px;
    background-color: rgba(83, 96, 157, 80%);
}
.sefareshat table {
    font-size: 15px;
}
.sefareshat table tbody td {
	font-weight: 600;
    opacity: 0.5;
}
div.contained_table{
	width: 100%;
	overflow-x: auto;
}
.sefareshat {
    border-radius: 15px !important;
    box-shadow: 0 0 2rem #595b762f;
}
.info-user2 {
    transition: 0.3s;
}
.info-user2:hover {
    background-color: rgba(0, 0, 0, .021);
}
.info-user2 small {
    font-size: 13px;
    color: #595b76;
}
.info-user2 small:nth-child(2) {
    color: #5bbeff;
    font-weight: 600;
}
.info-user2 a.trash {
    color: #7b7da3;
    background-color: #e7edfa;
    border-radius: 10px !important;
    padding: 5px 9px;
}
.info-user-footer a {
    color: #9ea4c4;
    font-size: 13px;
}
.info-user-footer {
    background-color:rgba(83, 96, 157, 4%) !important;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0 0 15px 15px !important;

}
.info-user-footer:hover {
    background-color: #7b7da3 !important;
}
.info-user-footer:hover a {
    color: #fff;
}

.address table {
    font-size: 14px;
    color: #595b76;
}
.address .card-header p {
    color: #fff;
    border-radius: 0 0 15px 15px;
    display: inline-block;
    font-size: 12px;
    background-color: #7b7da3;
}
.address {
    border-radius: 15px !important;
    box-shadow: 0 0 2rem #6a728727;
}

.edite {
    font-weight: 600;
    opacity: 0.5;
}


.personal-info .card-header p {
    color: #fff;
    border-radius: 0 0 15px 15px;
    display: inline-block;
    font-size: 12px;
    background-color: #7b7da3;
}
.personal-info {
    border-radius: 15px !important;
    box-shadow: 0 0 2rem #6a728727;
}


.size .input-group-text, .size input {
    border-radius: 8px !important;
    border: 1px solid #e4edfa;
    box-shadow: none;
}
.size .input-group-text small {
    color: #9ea4c4 !important;
}
.size input {
    font-size: 14px;
    color: #595b76;
}
.size a {
    background-color: #5bbeff;
    padding: 10px;
    font-size: 14px;
    color: #fff;
    border-radius: 15px !important;
    transition: 0.3s;
    border: 1px solid #5bbeff;
}
.size a:hover {
    border: 1px solid #5bbeff;
    color: #5bbeff;
    background-color: #fff;
}



.contacting p {
    font-size: 14px;
    color: #8a8a8a;
    font-weight: 400;
    line-height: 2;
}
.contacting small {
    font-size: 13px;
    color: #8a8a8a !important;
    font-weight: 300;
    text-align: center;
}

.massengers1 {
    color: #fff !important;
    background: linear-gradient(120deg,#08c,#5dc9ff);
    transition: 0.3s;
}
.massengers1:hover {
	transform: translateY(-8px);
}
.massengers2 {
    color: #fff !important;
    background: linear-gradient(45deg,#8638AD,#FA1D1E,#FCA341);
    transition: 0.3s;
}
.massengers2:hover {
    transform: translateY(-8px);
}
.massengers3 {
    color: #fff !important;
    background: linear-gradient(120deg,#59AD31,#A4DD60);
    transition: 0.3s;
}
.massengers3:hover {
    transform: translateY(-8px);
}
/*/////////////////////////////////////////////////////////
				end style page my_panel
*//*/////////////////////////////////////////////////////////*/


/*/////////////////////////////////////////////////////////
				start style page Asked Questions
*//*/////////////////////////////////////////////////////////*/
.cu-service {
    border-radius: 15px !important;
    box-shadow: 0 0 2rem #6a728727;
}
.first a {
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    border-radius: 7px;
	background-color: #5BBEFF;
}
.second a {
    font-size: 15px;
    color: #fff;
    background-color: #5BBEFF;
    border-radius: 7px;
}
.second a:hover{
    color: #fff !important;
}
/*/////////////////////////////////////////////////////////
				end style page Asked Questions
*//*/////////////////////////////////////////////////////////*/


/*/////////////////////////////////////////////////////////
				start style page Login
*//*/////////////////////////////////////////////////////////*/
input {
	color: #fff;
	outline: none;
	border: none;
}
.input100 input::placeholder{
	font-size: 17px;
}



textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-size: 18px;
  color: #fff;
}

.txt2 {
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}

.bg1 {background-color: #3b5998}
.bg2 {background-color: #1da1f2}
.bg3 {background-color: #ea4335}



/*//////////////////////////////////////////////////////////////////
[ login ]*/


.limiter {
  width: 100%;
  margin: 0 auto;
  /* Add the blur effect */


  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrap-login100 {
  width: 500px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
  font-size: 39px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
}



/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
}

.label-input100 {
  font-size: 17px;
  color: #fff;
  line-height: 1.5;
  padding-left: 7px;
}

.input100 {
  font-size: 16px;
  color: #333333;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 55px;
  background: transparent;
  padding: 0 7px 0 43px;
}


/*---------------------------------------------*/
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::after {
  content: attr(data-symbol);
  color: #adadad;
  font-size: 22px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: calc(100% - 20px);
  bottom: 0;
  left: 0;
  padding-left: 13px;
  padding-top: 3px;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: #7f7f7f;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}


.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

.input100:focus + .focus-input100::after {
  color: #a64bf4;
}

.has-val.input100 + .focus-input100::after {
  color: #a64bf4;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrap-login100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;

  box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -moz-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -webkit-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -o-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -ms-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
}

.login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #a64bf4;
  background: -webkit-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
  background: -o-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
  background: -moz-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
  background: linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
  top: 0;
  left: -100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn {
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
  left: 0;
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  bottom: calc((100% - 20px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 2px;
  pointer-events: none;

  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  bottom: calc((100% - 20px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}


/*//////////////////////////////////////////////////////////////////
[ Social item ]*/
.login100-social-item {
  font-size: 25px;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
}

.login100-social-item:hover {
  color: #fff;
  background-color: #333333;
}

/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/*/////////////////////////////////////////////////////////
				end style page Login
*//*/////////////////////////////////////////////////////////*/


/*/////////////////////////////////////////////////////////
				Start style page Signup
*//*/////////////////////////////////////////////////////////*/
.custom-control small{
	color: #fff;
}





/*/////////////////////////////////////////////////////////
				End style page Signup
*//*/////////////////////////////////////////////////////////*/
